[submodule "tmux/tmux-resurrect"]
	path = tmux/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "vim/vim-pathogen"]
	path = vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/vim-monokai"]
	path = vim/vim-monokai
	url = https://github.com/crusoexia/vim-monokai.git
[submodule "vim/bundle/vim-ledger"]
	path = vim/bundle/vim-ledger
	url = https://github.com/ledger/vim-ledger
